<%= form_for(beerpost) do |f| %>
  <% if beerpost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(beerpost.errors.count, "error") %> prohibited this beerpost from being saved:</h2>

      <ul>
      <% beerpost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :beercolour, "Choose Colours" %> <%= link_to "Add Colour", new_beercolour_path %><br>
    <%= f.collection_radio_buttons(:beercolour_id, Beercolour.all, :id, :image) do |b| %>
      <%= b.label { b.radio_button + image_tag(b.object.image.thumb.url, :class=>"circular") } %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :brewery, "Choose Brewery" %> <%= link_to "Add Brewery", new_brewery_path %><br>
    <%= f.collection_radio_buttons :brewery_id, Brewery.all, :id, :name, {prompt: "Choose a brewery "}  %>
  </div>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
    <% if f.object.image? %>
      <%= image_tag f.object.image.thumb.url %>
      <%= f.label :remove_image %>
      <%= f.check_box :remove_image %> 
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
