<p id="notice"><%= notice %></p>

<h1>Beerposts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @beerposts.each do |beerpost| %>
      <tr>
        <td><%= beerpost.name %></td>
        <td><%= link_to 'Show', beerpost %></td>
        <td><%= link_to 'Edit', edit_beerpost_path(beerpost) %></td>
        <td><%= link_to 'Destroy', beerpost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beerpost', new_beerpost_path %>
