<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beerpost.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= simple_format image_tag @beerpost.image.thumb.url.to_s %>
</p>

<p>
  <strong>Colour:</strong>
  <%= simple_format image_tag @beerpost.beercolour.image.thumb.url.to_s, :class => "circular"  if @beerpost.beercolour %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= @beerpost.brewery.name if @beerpost.brewery %>
</p>

<%= link_to 'Edit', edit_beerpost_path(@beerpost) %> |
<%= link_to 'Back', beerposts_path %>
