<div id="post_show_content" class="skinny_wrapper wrapper_padding">

<header>
  <h1>Breweries</h1>
  <hr>
</header>
<%= link_to 'Add', new_brewery_path %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @breweries.each do |brewery| %>
      <tr>
        <td><%= brewery.name %></td>
        <td><%= brewery.address %></td>
        <td><%= link_to 'Show', brewery %>
        <%= link_to 'Edit', edit_brewery_path(brewery) %>
        <%= link_to 'Destroy', brewery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>