<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= simple_format image_tag @brewery.image.thumb.url.to_s if @brewery %>
</p>

<p>
  <strong>Name:</strong>
  <%= @brewery.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @brewery.address %>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
